body {
	background-color:slategray;
	font-family:'Roboto', 'sans-serif';
}
div {
	box-sizing: border-box;
}
#container {
	background-color:lightblue;
	position:relative;
	width:800px;
	margin:50px auto;
	padding:20px;
	border-radius:20px;
	border:5px solid dodgerblue;
}

button {
	font-family:'Roboto', 'sans-serif';
	padding:10px;
	border:2px solid dodgerblue;
	border-radius:10px;
	color:white;
	background-color:slategray;
}

#add-contacts, #contacts-sidebar {
	display:inline-block;
}

#add-contacts label {
	display:block;
}

input {
	width:200px;
	margin-bottom:15px;
}

label {
	margin-bottom:5px;
}

h2, h1 {
	line-height:1.5em;
	font-family:'Raleway', 'sans-serif';
}

#add-contacts {
	width:400px;
}

#contacts-sidebar {
	position:absolute;
	right:0px;
	width:350px;
}

#contacts-sidebar ul {
	list-style:none;
}

#contacts-sidebar li {
	margin-bottom:10px
}

#contacts-list {
	width:500px;
}